include page_header.jade

include section_menubar.jade

div(class='container')

	if ! user
		include section_login.jade

	else
		div(class="row")
			div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel")
				h2
					b Tools
	
		if user && user.administrator && user.administrator == 1
			div(class="row")
				div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel")
					a(href="/",class="btn btn-primary disabled") Tools
					|  
					a(href="/terminals",class="btn btn-primary") Terminals
	
			include section_devices.jade

include page_footer.jade