extends layout

block login
		div(class="panel panel-default")
					div(class="panel-heading")
						h2(class="panel-title") Login

					div(class="panel-body")
						p To access the laser cutter, you must be laser certified and your membership account needs to be linked to one of the following providers
						div(class="row auths")
							div(class="col-xs-12 col-sm-4")
								a(href="/auth/slack" class="btn btn-info col-xs-12 col-xl-4 auth") Slack

							div(class="col-xs-12 col-sm-4")
								a(href="/auth/google" class="btn btn-info col-xs-12 col-xl-4 auth") Google

							div(class="col-xs-12 col-sm-4")
								a(href="/auth/github" class="btn btn-info col-xs-12 col-xl-4 auth") GitHub

						p If your need to link your membership account&nbsp;
							a(href="https://membership.vanhack.ca") link it here
