node_modules
.project
.idea
.sass-cache
.DS_Store
coverage
config.json
config.json.*
*.log
sessiondb
shared/*.json
misc/**
data/**
config/**
.nyc_output
.vscode
attic/
fix-permissions.sh
generate-route-tests.sh
generate-testcases.js
routes.txt
shell.nix
sync-to-vhs-test1.sh
sync-to-windows.sh
test.js
test/
tests.json
tmp/
public/*
.env*
